h1 {
  font-family: 'Overpass';
  font-size: 32px;
  color: #eeeeee;
  margin-left: 75px;
  margin-right: 75px;
  text-align: center;
}

h2 {
  font-family: 'Overpass';
  font-size: 18px;
  color: #eeeeee;
  margin-left: 75px;
  margin-right: 75px;
  text-align: center;
}

h3 {
  font-family: 'Overpass';
  font-size: 28px;
  color: #eeeeee;
  margin-left: 75px;
  margin-right: 75px;
  text-align: center;
}

body {
  background-color: #222831;
}

button {
  font-family: 'Overpass';
  color: #222831;
  font-size: 12px;
  height: 50px;
  width: 100px;
  outline: none;
  margin-left: 110px;
  border-radius: 7%;
}
